<h1>TOP!!!!!</h1>
<br>
<h3 class='border-bottom border-dark'>以下bootstrap実験場</h3>
<br>
<br>
<br>
<div class='container'>
  <div class='row'>
    <div class='container d-flex'>
      <div class='col'><div class='container border'><h2>てきすと</h2></div></div>
      <div class='col text-end'>
        <div class='figure'>
          <%= image_tag 'whitecat.jpg', size:'100x100' %>
          <div class="figure-caption">WhiteCat</div>
        </div>
      </div>
    </div>

    <div class='container d-flex mt-2'>
      <div class='col'></div>
      <div class='col text-end'><div class='btn btn-danger text-light '>更新</div></div>
    </div>
  </div>