<header>
  <div>
    <nav class='navbar navbar-expend navbar-dark bg-primary d-print'>

      <div class='container-fluid d-flex'>

        <a class='navbar-brand text-light' herf='#'>
          HowToRails
        </a>

        <div a class='col-auto text-end'>
            <%= link_to '新規登録', new_user_path, class:'btn btn-light'%>
            <%= link_to 'ログイン', login_path, class:'btn btn-light' %>
          </div>

      </div> 

    </nav> 
</header>